<div class="container-fluid p-5">


  <!-- <table cellspacing = "5px" cellpadding = "10px" border = "1"> -->
  <table class="table table-hover" >    
    <thead>
      <tr>
        <th>Id</th>
        <th>Subject</th>
        <th>Fee</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let item of courses" (click)="displayDetail(item.id)">
        <td>{{item.id}}</td>
        <td>{{item.subject}}</td>
        <td>{{item.fee}}</td>
      </tr>      
    </tbody>
  </table>
  
  <ul>
    <li *ngFor="let item of students"> Id: {{item.id}}; Name: {{item.name}}</li>
  </ul>

</div>